.total{
    height: 500px;
    width: 500px;
    border: 1px solid #000000;
}
h1{
    width: 383px;
    margin-left: 58px;
    border-bottom: 1px solid #000000;
}
.image{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 300px;
    width: 300px;
    filter: blur(10px);
}
img:hover{
    filter: blur(0px);
}