body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    height: 200px;
    width: 200px;
    border: 12px solid #aba8a8;
    border-radius: 50%;
    border-right-color: #020236;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}